<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="brand">Client App Example</a>
      <div class="nav-collapse">
        <ul class="nav">
          <li><a href="#home">Home</a></li>
          <li><a href="#movies">Movies</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>

